.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.about h1{
    color: white;
    font-size: 30px;
    margin-top: 90px;
}

.about label{
    color: #656464;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
}
.about-line{ 
    height: 5px;
    color: white;
    font-size: 50px;
    margin-top: -10px;
    margin-left: -10px;
}

.about-container{
    display: flex;
    background: black;
    padding-top: 18vh;
}

.about-left{
    width: 50%;
    height: 54vh;
    color: #c6bfbf;
}

.about-left p{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5%;
    color: white;
}

.about-right{
    width: 50%;
    height: 54vh;
}

.about-right img{
    width: 85%;
    height: 54vh;
    margin-left: 60px;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 20px;
}

.about-right img:hover{
    transform: scale(1.05);
    transition: transform 1.3s ease;
    border: 2px solid #FFD700;
}
    
.about a{
    color: black;
    background-color: #FFD700;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    position: fixed;
    bottom: 4%;
    right: 4%;
    z-index: 1000;
    font-size: 20px;
}

.about a:hover{
    background-color: black;
    color: #FFD700;
    transition: transform 0.3s ease;
}


/* Tablets (1024px and below) */
@media (max-width: 1024px) {
    .about h1 {
        font-size: 26px;
    }

    .about label {
        font-size: 18px;
    }

    .about-left p {
        font-size: 18px;
    }

    .about-right img {
        width: 80%;
        margin-left: 40px;
    }

    .about a {
        font-size: 18px;
        padding: 8px 12px;
    }
}

/* Mobile Devices (768px and below) */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }

    .about-left,
    .about-right {
        width: 90%;
        height: auto;
    }

    .about-left p {
        font-size: 16px;
        margin: 10px 0;
        text-align: center;
    }

    .about-right img {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 20px;
    }

    .about h1 {
        font-size: 24px;
        text-align: center;
        margin-top: 70px;
    }

    .about-linr{
        font-size: 10px;
    }

    .about label {
        font-size: 16px;
        text-align: center;
        margin-top: 40px;
    }

    .about a {
        font-size: 16px;
        padding: 6px 10px;
        bottom: 3%;
        right: 3%;
    }
}

/* Very Small Devices (480px and below) */
@media (max-width: 480px) {
    .about h1 {
        font-size: 20px;
        margin-top: 60px;
    }

    .about label {
        font-size: 14px;
    }

    .about-left p {
        font-size: 14px;
    }

    .about a {
        font-size: 14px;
        padding: 6px 9px;
    }
}

