.styles-section {
  text-align: center;
  padding: 4rem 2rem;
  height: auto;

  .styles-title {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 0.5rem;
    margin-top: 80px;
  }

  .styles-subtitle {
    font-size: 1.1rem;
    color: #666;
    max-width: 600px;
    margin: 0 auto;
  }

  .divider {
    width: 70px;
    height: 5px;
    text-align: center;
    font-size: 5rem;
    color: #ffd700;
    margin: 1rem auto;
  }

  .styles-filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-weight: 500;
    color: #888;
    margin: 2rem 0;

    span {
      cursor: pointer;

      &.active {
        color: #000;
        font-weight: bold;
      }
    }
  }

  .styles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 2rem;
    justify-items: center;

    .style-card {
      border: 1px dashed #c49a84;
      border-radius: 50%;
      width: 160px;
      height: 160px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      text-align: center;
      transition: 0.3s ease;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 10px rgb(243, 208, 10);
      }

      .style-icon img {
        width: 50px;
        height: 50px;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.1rem;
        color: #333;
      }

      p {
        font-size: 0.9rem;
        color: #ffd700;
        margin-top: 0.25rem;
      }
    }
  }

  // Media Queries
  @media (max-width: 768px) {
    padding: 3rem 1.5rem;

    .styles-title {
      font-size: 2rem;
    }

    .styles-subtitle {
      font-size: 1rem;
    }

    .styles-grid {
      gap: 1.5rem;

      .style-card {
        width: 140px;
        height: 140px;

        h3 {
          font-size: 1rem;
        }

        p {
          font-size: 0.85rem;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .styles-title {
      font-size: 1.8rem;
    }

    .styles-subtitle {
      font-size: 0.95rem;
    }

    .styles-grid {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

      .style-card {
        width: 120px;
        height: 120px;

        .style-icon img {
          width: 40px;
          height: 40px;
        }

        h3 {
          font-size: 0.95rem;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}
